@font-face {
  font-family: 'Roboto';
  src: url('../ext/fonts/Roboto-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../ext/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../ext/fonts/Roboto-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../ext/fonts/Roboto-Bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../ext/fonts/Roboto-Bold-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../ext/fonts/Roboto-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../ext/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../ext/fonts/Roboto-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../ext/fonts/Roboto-Regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../ext/fonts/Roboto-Regular-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url('../ext/fonts/fa-solid-900.eot');
  src: url('../ext/fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
  url('../ext/fonts/fa-solid-900.woff2') format('woff2'),
  url('../ext/fonts/fa-solid-900.woff') format('woff'),
  url('../ext/fonts/fa-solid-900.ttf') format('truetype'),
  url('../ext/fonts/fa-solid-900.svg#fontawesome') format('svg');
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}


